body {
  background: white;
}

#controls-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.btn-arrow {
  width: 30px;
  height: 30px;
}
#btn-left {
  margin-right: 32px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: top .2s, left .2s;
  
}

.circle.blue {
  background: blue;
  border-color: blue;
  border: 1px solid blue;
}

.circle.yellow  {
  background-color: yellow;
  border-color:yellow;
  border: 1px solid yellow;
}

.circle.red { 
  background: red;
  border-color: red;
  border: 1px solid red;
}

.circle.green {
  background: green;
  border-color: green;
  border: 1px solid green;
}
.circle:hover {
  background-color: unset;
}

#piece {
  position: absolute;
  top: 100px;
  left: 50%;
}
