body {
  background: white;
}

#controls-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.btn-arrow {
  width: 30px;
  height: 30px;
}
#btn-left {
  margin-right: 32px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: blue;
  transition: top .2s, left .2s;
  border-color: blue;
}

.circle:hover {
  background: unset;
}

#piece {
  position: absolute;
  top: 100px;
  left: 50%;
}
